.layout{
    margin: 0;
}
.main-header {
    background-color: #0056b3; 
    color: var(--light-text);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 ;
    padding: 0 40px;
    justify-content: flex-end;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.judul{
    height: 500px;
    background: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll;
    text-align: center;
    align-content: center;
}
img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.judul h1 {
    font-size: 50px;
    margin: 0;
    color: white
}
.menu{
    margin: 0;
    height: 70px;
    background-color: #0056b3;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-align: center;
    align-content: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 00 20px;
    text-align: center;
}
.container h2{
    padding: 20px;
}
.about-section {
    background-color: #f0f0f0;
    padding: 30px 20px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.about-main {
    flex: 1;
    text-align: justify;
}

p{
    font-size: 20px;
}
.info-row {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    font-size: 20px;
}

.label {
    width: 170px; 
}

.about-sidebar {
    margin-top: 30px;
    width: 250px;
    height: 200px;
    background-color: #6c757d;
    color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about-sidebar h3 {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
}
.sidebar_links li{
    list-style: none;
}

@media (max-width: 78px) {
  .about-container {
    flex-direction: column;
  }

  .about-sidebar {
    width: 100%;
    margin-top: 20px;
  }
}

.skills-section {
    background-color: #e9ecef;
    padding: var(--section-padding);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.skill-item {
    background-color: var(--light-text);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: justify;
}

.skill-item:hover {
    transform: translateY(-10px);
}

.skill-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.saran-section {
    background-color:#e9ecef;
    padding: 10px;
    margin-top: 40px;
}

.saran-section h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.saran-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.saran-form input,
.saran-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.saran-form button {
    background-color: #0056b3;
    /* color: white; */
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.saran-form button:hover {
    background-color: #003d82;
}
